<h3>Detalles del empleado</h3>
<div>
    <div>
        <label><b>ID : </b> {{ empleado.id }}</label>
    </div>
    <div>
        <label><b>Nombre : </b> {{ empleado.nombre }}</label>
    </div>
    <div>
        <label><b>Apellido : </b> {{ empleado.apellido }}</label>
    </div>
    <div>
        <label><b>Cargo : </b> {{ empleado.cargo }}</label>
    </div>
    <div>
        <label><b>Celular : </b> {{ empleado.celular }}</label>
    </div>
    <div>
        <label><b>Direccion : </b> {{ empleado.direccion }}</label>
    </div>
    <div>
        <label><b>Email : </b> {{ empleado.email }}</label>
    </div>
</div>